# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyA3iiugt-9RiCf-1BjA-SNW4EZEP26xLCk
VITE_FIREBASE_AUTH_DOMAIN=analisistendencias.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=analisistendencias
VITE_FIREBASE_STORAGE_BUCKET=analisistendencias.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=941140433182
VITE_FIREBASE_APP_ID=1:941140433182:web:781d03e4ddb170fdc4510f
